.mojo-loading{
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #33475f;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	&-bar{
		height: 8px;
		width: 80%;
		background-color: #fff;
		position: relative;
		overflow: hidden;
	}
	
	&-item{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #5ccd0a;

		transform: translate3d(-100%, 0, 0);
		transition: transform .1s linear;
	}
	
	&-tips{
		color: #fff;
		font-size: 14px;
		line-height: 24px;
	}
}

@keyframes fadeOut {
	0%{
		opacity: 1;
	}

	100%{
		opacity: 0;
	}
}

.fadeOut{
	animation: fadeOut .5s .01s ease both;
};