/* global */
body {
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
	font: 12px/21px \5FAE\8F6F\96C5\9ED1;
	color: #000;
}
/*
* slide框架相关
*/
.content {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1;
}
.layout {
	position: absolute;
}
.layout-page {
	position: relative;
	overflow: hidden;
}
.layout-box {
	display: none;
}

.active .layout-box{
	display: block!important;
}
/* S 翻页class */
.layout-nav {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	text-align: center;
	font-size: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.layout-nav_item {
	width: 10px;
	height: 10px;
	display: block;
	margin: 0 5px;
	background-color: #ffffff;
}
.layout-nav_item__current {
	background-color: #000000;
}
/* E 翻页class */